

# Ignore Python cache files everywhere
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore IDE/editor config folders if any
.vscode/
.idea/
