# Ignore dps33k folder
dps33k/

# Ignore Python cache files everywhere
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore IDE/editor config folders if any
.vscode/
.idea/

# Ignore auto_infra_copy.py
auto_infra_copy.py